@page
@model Asencio.WebSite.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div><img
    src="https://asenciowebsite.blob.core.windows.net/images/underconstruction.jpeg?sp=rl&st=2020-02-29T06:06:50Z&se=2021-02-28T06:06:00Z&sv=2019-02-02&sr=b&sig=DHVsXotrRRgrfZ%2BTUYYBxydbMgPKYwcLHQbl%2BOct65M%3D"
    height="600" width="1200"/></div>

