﻿.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card .card-title {
    text-align: center;
    text-wrap: normal;
}

.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}




a.navbar-brand {
    white-space: unset;
    font-family: 'Rubik';
    font-size: 30px;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
   color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #232020;
    border-color: #232020;

}
.btn-primary:hover {
     color: #232020;
     background-color: #e41749;
     border-color: #e41749;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }

}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f4f4f4;
}
p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-bottom: 1rem; 
    padding-top: 1rem;
}
h4 {
    margin-bottom: 1rem;
}
ul {
    font-family: 'Trirong' Regular;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Trirong';
}
.icon {
    margin-top: 1rem;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e41749 60%, #232020 40%);
    background: -o-linear-gradient(110deg, #e41749 60%, #232020 40%);
    background: -moz-linear-gradient(110deg, #e41749 60%, #232020 40%);
    background: linear-gradient(110deg, #e41749 60%, #232020 40%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #232020 40%, #e41749 20%);
    background: -o-linear-gradient(110deg, #232020 40%, #e41749 20%);
    background: -moz-linear-gradient(110deg, #232020 40%, #e41749 20%);
    background: linear-gradient(110deg, #232020 40%, #e41749 20%);
}

.information {
    background-color: darkgray;
    margin-top: 1.5rem;
}
