@page
@using Asencio.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Thanks for Visiting!</h1>
<p>Welcome to my wesbite. Here you can find all of my favorite and current projects. You can also learn more <a href="/AboutMe/About">about me.</a> </p>

@(await Html.RenderComponentAsync<ProjectList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>