@page
@model Asencio.WebSite.mywebsiteModel
@{
    ViewData["Title"] = "mywebsite";
}

<h1>About This Website</h1>

@*<div><img 
          src="https://asenciowebsite.blob.core.windows.net/images/underconstruction.jpeg?sp=rl&st=2020-02-29T06:06:50Z&se=2021-02-28T06:06:00Z&sv=2019-02-02&sr=b&sig=DHVsXotrRRgrfZ%2BTUYYBxydbMgPKYwcLHQbl%2BOct65M%3D"
          height="600" width="1200"/></div>*@
<div class="pipeline">
    <div class="imgcontainer">
        <img class="auto-resize-portait pipeline" src="https://asenciowebsite.blob.core.windows.net/images/pipeline.png?sp=rl&st=2020-02-29T21:31:41Z&se=2021-03-01T21:31:00Z&sv=2019-02-02&sr=b&sig=zbQJDHr2HG38eu0f%2BGtSXCi8HnMHnYBMY5mLw7Cmhro%3D"
             />
    </div>
    <br />
    <p>This site is built using a bit of DevOps and Azure cloud services. The code is hosted in a local repository that is also synced to my GitHub repository. The GitHub repository is synced with CI/CD pipelines in Azure and pushed to an Azure Web App service. All associated media files are hosted in a connected blob storage. When changes are made within the IDE or connected repositories, the changes are automatically pushed down the pipeline and the Web App will be updated with the new changes.</p>
</div>

