@page
@model Asencio.WebSite.ResourcesModel
@{
    ViewData["Title"] = "Resources";
}

<h1> Great Resources</h1>
<div>
    <p>Below are some of my favorite resources that have helped me tremendously in my learning. </p>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://devdocs.io/">DevDocs</a></td>
            <td>An amazing website with documentation for over 100 different programming languages and frameworks. A great resource when you need to quickly reference documentation</td>
        </tr>  
        <tr>
            <td><a href="https://www.udemy.com/">Udemy</a></td>
            <td>Udemy offers courses on many topics. From business and personal development to Technology. </td>
        </tr>
        <tr>
            <td><a href="https://colorhunt.co/">ColorHunt</a></td>
            <td>Color Hunt is a one stop shop to find your perfect color scheme. They offer many palletes of beautiful colors and even have an easy copy/paste feature.</td>
        </tr>
        <tr>
            <td><a href="https://stackoverflow.com/">Stack Overflow</a></td>
            <td>A great website for all your IT and programming related questions/aswers. The community is full of experienced and knowledgable individuals who can help answer your questions, or you can find an answer to a similiar issue.</td>
        </tr> 
    </tbody>
</table>


