@page

@model Asencio.WebSite.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<div>
    <h3>Connect with me on LinkedIn <a href="https://www.linkedin.com"><img src="https://asenciowebsite.blob.core.windows.net/images/LI-In-Bug.png?sp=rl&st=2020-02-28T06:10:55Z&se=2021-02-28T06:10:00Z&sv=2019-02-02&sr=b&sig=QOHXqpibazDePqhrbUFfFiESHScEjDSlFF1wohyqJWM%3D" 
                                                                            width="60" height="50"/></a></h3>
</div>
<div>
    <p>*This contact form is still in development. Information can be input but will not be sent.*</p>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<form class="form form-horizontal" method="post">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Fname" class="col-md-3 right">Name:</label>
                <div class="col-md-9">
                    <input asp-for="Contact.Fname" class="form-control" />
                    <span asp-validation-for="Contact.Fname"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Lname" class="col-md-3 right">Last name:</label>
                <div class="col-md-9">
                    <input asp-for="Contact.Lname" class="form-control" />
                    <span asp-validation-for="Contact.Lname"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Email" class="col-md-3 right">Email:</label>
                <div class="col-md-9">
                    <input asp-for="Contact.Email" class="form-control" />
                    <span asp-validation-for="Contact.Email"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Message" class="col-md-3 right">Your Message:</label>
                <div class="col-md-9">
                    <textarea asp-for="Contact.Message" rows="6" class="form-control"></textarea>
                    <span asp-validation-for="Contact.Message"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit">Send</button>
        </div>
    </div>
</form>
